body {
	margin:0;
	padding:0;
	font-family:verdana;
	background:#eee;
}

#wrapper {
    
    width:960px;
    margin:0 auto;
    background:#ffff99;
}
#header {
    height:200px;
    background:#009fe3;
   
}



#main {
    /*float:left;*/
    width:500px;
    height:500px;
    background:#91cc47;
    padding: 20px;
}

#sidebar {
    /*float:right;*/
    width: 400px;
    height: 260px;
    background: #f2f2f2;
    padding: 10px;
    font-size: 22px;
}



#footer{
    clear:both;
    height:60px;
    background:#ff3333;
}

.container {
    width: 90%;
    margin: 0 auto;
 
}

/*header::after {
    content:"";
    clear:both;

}*/

nav {
    float:left;
   
}
 nav ul {
    margin:0;
    padding:0;
    list-style:none;
    
 }

 nav li {
     display:inline-block;
     margin-left: 90px;
     padding-top: 130px;
     position: relative;
    
 }

 nav a {
     color:#050405fd;
     text-transform: uppercase;
     font-size: 14px;
     text-decoration:none;
 }
  nav a:hover {
      color:#f14c4c;
  }
  /* nav a::before { 
       content:"";
       display:block;
       height: 5px;
       width: 100%
       
   }*/

   

  
     
       
       
   }
       
 .main_container {
     display: flex;
    /* justify-content: flex-start;*/
     flex-direction: row;
    
 }
 #search_container {
     margin-left:700px;
     justify-content: flex-start;
     align-items: flex-end;
    
      
 }